@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.c-pagination {
  &-page {
    width: mu(6);
    height: mu(6);
    border-radius: 50%;
    border: 3px solid map-get($global-colors, "secondary");
    background-color: transparent;
    font-size: mu(3);
    font-weight: bold;
  }
  &-cat {
    img {
      width: mu(15);
      height: mu(15);
    }
  }
}