@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.u-bg-linear-gradient {
  @include linear-gradient-style(
    right,
    map-get($global-colors, "secondary"),
    40%,
    0
  );
}

.u-bg-secondary {
  width: 200px;
  height: 200px;
  background-color: map-get($global-colors, "secondary");
}

.u-bg-img-no-repeat-before {
  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
  }
}
