$menu-btn-bg-color: #499DFF;
$menu-btn-line-color: #FFFFFF;
$menu-btn-x-color: #499DFF;

#menu-btn {
  cursor: pointer;
  display: flex;
  min-height: 60px;
  height: 100%;
  width: 60px;
  justify-content: center;
  align-items: center;
  background-color: $menu-btn-bg-color;
}

#menu-btn span,
#menu-btn span::before,
#menu-btn span::after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: $menu-btn-line-color;
  position: absolute;
  transition: all 0.5s;
}

#menu-btn span::before {
  bottom: 8px;
}

#menu-btn span::after {
  top: 8px;
}

#menu-btn-check:checked~#menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked~#menu-btn span::before,
#menu-btn-check:checked~#menu-btn span::after {
  background-color: $menu-btn-x-color; // ここでバツ印の色を変更
}

#menu-btn-check:checked~#menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  z-index: 90;
}

#menu-btn-check:checked~#menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
  z-index: 90;
}

#menu-btn-check:checked~#menu-content {
  left: 0;
}

#menu-btn-check {
  display: none;
}

#menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: rgba(249, 168, 212, 95%);
  transition: all 0.5s;
  border-left: 2.5px solid $menu-btn-line-color;
}

#menu-content ul {
  padding: 70px 10px 0;
}

#menu-content ul li {
  border-bottom: solid 1px #4D4D4D;
  list-style: none;
}

#menu-content ul li p {
  display: block;
  font-weight: bold;
  width: 100%;
  font-size: 125%;
  box-sizing: border-box;
  color: #4D4D4D;
  text-decoration: none;
  padding: 40px 25px 10px 10px;
  position: relative;
}

#menu-content ul li {
  display: block;
  width: 100%;
  font-size: 100%;
  box-sizing: border-box;
  color: #4D4D4D;
  text-decoration: none;
  padding: 15px 25px 10px 10px;
  position: relative;
}

#menu-content ul li a::before {
  content: '';
  width: 7px;
  height: 7px;
  border-top: solid 2px #4D4D4D;
  border-right: solid 2px #4D4D4D;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}